<?xml version="1.0" encoding="UTF-8"?>
<?define CompanyName="github.com.trondr" ?>
<?define ProductName="Compliance.Notifications" ?>
<?define ProductExeBaseName="Compliance.Notifications" ?>
<?define ProductExeReleaseFolder="..\..\..\build\app" ?>
<?define PackageDescription="Compliance-Notifications" ?>
<?define ProductHelpLink="https://github.com/trondr/Compliance.Notifications"?>

<?define ProductUpgradeCode="{D632FB9F-24F3-48E5-942F-040467D350EA}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product 
    Id="*" 
    Name="$(var.ProductName)"
    Language="!(loc.LanguageCode)"
    Version="!(bind.FileVersion.ProductExe)" 
    Manufacturer="$(var.CompanyName)" 
    UpgradeCode="$(var.ProductUpgradeCode)">
		<Package 
      Id="*"
      InstallerVersion="200"
      InstallPrivileges="elevated"
      Compressed="yes" 
      InstallScope="perMachine"
			Platform="x86"
      Description="$(var.PackageDescription)"
      Languages="!(loc.LanguageCode)"
      Manufacturer="$(var.CompanyName)"
      SummaryCodepage="1252"
      />

    <Icon Id="Product_Icon" SourceFile="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe"/>

    <Property Id="ARPPRODUCTICON"  Value="Product_Icon"/>
    <Property Id="ARPHELPLINK" Value="$(var.ProductHelpLink)" />
    <Property Id="ARPCOMMENTS">$(var.PackageDescription)</Property>
    <Property Id="ARPCONTACT">$(var.CompanyName)</Property>

    <Condition Message ="!(loc.DotNetFrameWorkConditionMessage)"> MsiNetAssemblySupport >= "4.8.03752" </Condition>

    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Property="SELFFOUND" OnlyDetect="yes"  Minimum="!(bind.FileVersion.ProductExe)" IncludeMinimum='yes'  Maximum="!(bind.FileVersion.ProductExe)" IncludeMaximum='yes' />
      <UpgradeVersion Property="NEWERFOUND" OnlyDetect="yes" Minimum="!(bind.FileVersion.ProductExe)" IncludeMinimum="no" />
      <UpgradeVersion Property="OLDERFOUND" OnlyDetect="no"  Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="!(bind.FileVersion.ProductExe)" IncludeMaximum="no" />
    </Upgrade>
    <CustomAction Id="NoDowngrade" Error="A later version of $(var.ProductName) is already installed." />
    <CustomAction Id="NoSelf" Error="Same version of $(var.ProductName) is already installed." />

    <CustomAction Id="InstallProductNameAction"
                  Directory="TargetFolder"
                  ExeCommand="&quot;[TargetFolder]$(var.ProductName).exe&quot; Install"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no"
    />

    <CustomAction Id="UnInstallProductNameAction"
                  Directory="TargetFolder"
                  ExeCommand="&quot;[TargetFolder]$(var.ProductName).exe&quot; UnInstall"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no"
    />

    <InstallExecuteSequence>
      <Custom Action="NoDowngrade" After="FindRelatedProducts"><![CDATA[NEWERFOUND]]></Custom>
      <Custom Action="NoSelf" After="FindRelatedProducts"><![CDATA[SELFFOUND]]></Custom>
      <RemoveExistingProducts After="InstallInitialize"/>
      <LaunchConditions After="AppSearch"/>
      <Custom Action='InstallProductNameAction' After='InstallFiles' />
      <Custom Action='UnInstallProductNameAction' Before='RemoveFiles' />
    </InstallExecuteSequence>

    <Media Id="1" Cabinet="$(var.ProductName)" EmbedCab="yes" CompressionLevel="high"/>

		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductExeComponentGroup" />
      <ComponentGroupRef Id="NOProductExeComponentGroup"/>
      <ComponentGroupRef Id="SEProductExeComponentGroup"/>
      <ComponentGroupRef Id="FIProductExeComponentGroup"/>
    </Feature>

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBanner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="WiXUiDialog.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <UIRef Id="WixUI_Mondo"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="$(var.CompanyName)">
          <Directory Id="TargetBaseFolder" Name="$(var.ProductName)">
            <Directory Id="TargetFolder" Name="!(bind.FileVersion.ProductExe)" >
              <Directory Id="noFolder" Name="no"/>
              <Directory Id="svseFolder" Name="sv-se"/>
              <Directory Id="fiFolder" Name="fi"/>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[TargetFolder]$(var.ProductExeBaseName).exe" WorkingDirectory="TargetFolder">
          <!--AUMID-->
          <ShortcutProperty Key="System.AppUserModel.ID" Value="github.com.trondr.Compliance.Notifications"/>
          <!--COM CLSID, specifying which CLSID to activate when toast clicked-->
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{2DE9CA80-6322-4AE2-8FB5-3435F6976711}"/>
        </Shortcut>

        <RemoveFile Id="RemoveApplicationShortcut" Directory="ProgramMenuFolder" Name="Desktop Toasts" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductExeComponentGroup" Directory="TargetFolder">
      <Component Id="ProductExeComponent" Guid="*">
        <File Id="ProductExe" Name="$(var.ProductExeBaseName).exe" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe" KeyPath="yes" />
        <File Id="ProductPdb" Name="$(var.ProductExeBaseName).pdb" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).pdb" KeyPath="no" />
        <File Id="ProductExeConfig" Name="$(var.ProductExeBaseName).exe.config" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe.config" KeyPath="no" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" Value="[#ProductExe]" Type="string" Action="write" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" Name="path" Value="[TargetFolder]" Type="string" Action="write" />
			</Component>
      <Component Id="LanguageExt_Core" Guid="*">
        <File Id="LanguageExt_Core_Dll" Name="LanguageExt.Core.dll" Source="$(var.ProductExeReleaseFolder)\LanguageExt.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="log4Net" Guid="*">
        <File Id="log4Net_Dll" Name="log4Net.dll" Source="$(var.ProductExeReleaseFolder)\log4Net.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MicrosoftToolkitUwpNotifications" Guid="*">
        <File Id="MicrosoftToolkitUwpNotificationsDll" Name="Microsoft.Toolkit.Uwp.Notifications.dll" Source="$(var.ProductExeReleaseFolder)\Microsoft.Toolkit.Uwp.Notifications.dll" KeyPath="yes" />
        <File Id="MicrosoftToolkitUwpNotificationsPdb" Name="Microsoft.Toolkit.Uwp.Notifications.pdb" Source="$(var.ProductExeReleaseFolder)\Microsoft.Toolkit.Uwp.Notifications.pdb" KeyPath="no" />
      </Component>
      <Component Id="NCmdLiner" Guid="*">
        <File Id="NCmdLinerDll" Name="NCmdLiner.dll" Source="$(var.ProductExeReleaseFolder)\NCmdLiner.dll" KeyPath="yes" />
      </Component>
      <Component Id="Microsoft_Win32_TaskScheduler" Guid="*">
        <File Id="Microsoft_Win32_TaskScheduler_dll" Name="Microsoft.Win32.TaskScheduler.dll" Source="$(var.ProductExeReleaseFolder)\Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft_Json" Guid="*">
        <File Id="Newtonsoft_Json_Dll" Name="Newtonsoft.Json.dll" Source="$(var.ProductExeReleaseFolder)\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="Pri_LongPath_dll" Guid="*">
        <File Id="Pri_LongPath_dll" Name="Pri.LongPath.dll" Source="$(var.ProductExeReleaseFolder)\Pri.LongPath.dll" KeyPath="yes" />
      </Component>
      <Component Id="QueryString_NETCore" Guid="*">
        <File Id="QueryString.NETCore_Dll" Name="QueryString.NETCore.dll" Source="$(var.ProductExeReleaseFolder)\QueryString.NETCore.dll" KeyPath="yes"/>
        <File Id="QueryString.NETCore_Pdb" Name="QueryString.NETCore.pdb" Source="$(var.ProductExeReleaseFolder)\QueryString.NETCore.pdb" KeyPath="no"/>
      </Component>
      <Component Id="System_Buffers" Guid="*">
        <File Id="System_Buffers_Dll" Name="System.Buffers.dll" Source="$(var.ProductExeReleaseFolder)\System.Buffers.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System_Memory" Guid="*">
        <File Id="System_Memory_Dll" Name="System.Memory.dll" Source="$(var.ProductExeReleaseFolder)\System.Memory.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System_Numerics_Vectors" Guid="*">
        <File Id="System_Numerics_Vectors_Dll" Name="System.Numerics.Vectors.dll" Source="$(var.ProductExeReleaseFolder)\System.Numerics.Vectors.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System_Runtime_CompilerServices_Unsafe" Guid="*">
        <File Id="System_Runtime_CompilerServices_Unsafe_Dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.ProductExeReleaseFolder)\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System_ValueTuple" Guid="*">
        <File Id="System_ValueTuple_Dll" Name="System.ValueTuple.dll" Source="$(var.ProductExeReleaseFolder)\System.ValueTuple.dll" KeyPath="yes"/>
      </Component>
      <ComponentRef Id="ApplicationShortcut"/>
		</ComponentGroup>
    <ComponentGroup Id="NOProductExeComponentGroup" Directory="noFolder">
      <Component Id="No_Compliance_Notifications_resources" Guid="*">
        <File Id="No_Compliance_Notifications_resources_Dll" Name="Compliance.Notifications.resources.dll" Source="$(var.ProductExeReleaseFolder)\no\Compliance.Notifications.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="SEProductExeComponentGroup" Directory="svseFolder">
      <Component Id="SE_Compliance_Notifications_resources" Guid="*">
        <File Id="SE_Compliance_Notifications_resources_Dll" Name="Compliance.Notifications.resources.dll" Source="$(var.ProductExeReleaseFolder)\sv-se\Compliance.Notifications.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="FIProductExeComponentGroup" Directory="fiFolder">
      <Component Id="FI_Compliance_Notifications_resources" Guid="*">
        <File Id="FI_Compliance_Notifications_resources_Dll" Name="Compliance.Notifications.resources.dll" Source="$(var.ProductExeReleaseFolder)\fi\Compliance.Notifications.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
